body {
    background-color: #f0f0f0; /* Hier kannst du deine gewünschte Hintergrundfarbe einsetzen */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

#cameraContainer {
    display: none;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#qrcode {
    text-align: center;
    padding: 20px;
}
